/* VARIABLES */
:root {
    /* FONTS */
    --font-name: Monaco, Hack, Menlo, Ubuntu Mono, monospace;
    /*--font-name: 'Khula', sans-serif;*/

    /* PAGE COLORS */
    --background: #111;
    --input-background: #333;

    /* TEXT COLORS */
    --header-color: var(--text-color);
    --text-color: #ddd;
    --link-color: #fff;
    --link-hover-color: var(--button-color);
    --placeholder-color: #aaa;

    /* OTHER COLORS */
    --button-color: #229cde;
    --tile-color-1: #4CAF50;
    --tile-color-2: #946cda;
    --tile-color-3: var(--button-color);
    --green: green;
    --red: red;

    /* MEASUREMENTS */
    --nav-height: 50px;
}

* {
    -webkit-font-smoothing: antialiased;
    -webit-text-size-adjust: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
}

body {
    font-family: var(--font-name);
    font-size: 18px;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background);
}

div.navwrap {
    width: 100%;
    top: 0;
    margin: 0;
    height: var(--nav-height);
}

div.navwrap div.nav {
    height: inherit;
    position: fixed;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    border-bottom: 1px solid var(--input-background);
    z-index: 3;
}

div.navwrap div.nav ul {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    box-sizing: border-box;
}

div.navwrap div.nav ul li {
    margin: 0 10px 0 0;
    font-size: 20px;
    font-weight: normal;
}


div.navwrap div.nav ul li a {
    vertical-align: middle;
}

div.navwrap div.nav ul li a *{
    vertical-align: middle;
}

.nav .search {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 30px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
    font-weight: lighter;
}

.nav .search .search-box {
    height: 100%;
    width: 250px;
    max-width: 50vw;
    margin: 0;
    border: none;
    color: var(--text-color);
    background-color: var(--input-background);
    border-right: none;
    box-sizing: border-box;
    resize: none;
    vertical-align: middle;
    font-size: 14px;
    font-family: var(--font-name);
    padding-left: 10px;
}

.nav .search .submit-button {
    height: 100%;
    border: none;
    color: white;
    background-color: var(--button-color);
    padding: 0 0.65em;
    margin: 0;
    font-size: 14px;
    vertical-align: middle;
    font-family: fontawesome;
}

div.container {
    max-width: 90vw;
    margin: 40px auto;
    margin-bottom: 100px;
}

body.list>div.container {
    max-width: calc(100vw - 10px);
    margin: 10px auto 0 auto;}

body.list>div.container>.search-title {
    text-align: center;
    line-height: 1.2em;
}

body.list>div.container>.clear-results {
    background-color: var(--button-color);
    color: white;
    margin: 0 auto 1em auto;
    width: 250px;
    text-align: center;
    display: block;
    padding: 5px;
}

div.article {
    width: 100%;
    margin-top: 40px;
}

div.container div.error {
    background: hsla(0, 80%, 90%, 1);
    color: var(--red);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    width: 400px;
    max-width: 100%;
}

div.container div.success {
    background: hsla(120, 80%, 90%, 1);
    color: var(--green);
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    width: 400px;
    max-width: 100%;
}

.success h3 {
    color: var(--green);
}

.error h3 {
    color: var(--red);
}

.success h3:before {
    opacity: 0.2;
    color: var(--green);
}

.error h3:before {
    opacity: 0.2;
    color: var(--red);
}

.success *, .error * {
    margin: 0;
    padding: 0;
}

.error a {
    color: var(--red);
}

div.container form .field {
    max-width: 100%;
    width: 400px;
    border: 1px solid var(--background);
    display:block;
    font-family: var(--font-name);
    background-color: var(--input-background);
    color: var(--text-color);
    padding: 0.75em;
    box-sizing: border-box;
    resize: none;
    font-size: inherit;
}

div.container form label, div.container form .g-recaptcha {
    display: block;
    margin-bottom: 20px;
}

label {
    font-size: 0.75em;
}

div.container form ::placeholder {
    opacity: 0.25;
}

input:focus, textarea:focus {
    outline: none;
}

div.container form .field:focus {
    border-bottom: 1px solid var(--button-color);
}

div.container form .field:focus+label {
    color: var(--button-color);
}

::placeholder {
    color: var(--placeholder-color);
}

div.container form button.submit {
    max-width: 100%;
    min-width: 25%;
    border-radius: 0;
    background: var(--button-color);
    color: white;
    font-family: var(--font-name);
    font-weight: bold;
    font-size: inherit;
    box-shadow: none;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

div.container form .reset {
    background: none;
    border: none;
    color: var(--button-color);
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.article img {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.article-page .article h6 {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    line-height: 1.3;
    margin: 2px auto 40px auto;
    max-width: 90%;
}

.article p {
    line-height: 1.5;
    font-weight: normal;
}

.article blockquote {
    font-weight: normal;
    font-size: 93%;
    border-left: 25px solid hsla(0, 0%, 83%, 0.5);
    padding: 25px;
    margin: 2em 0 2em 5px;
    background: var(--input-background);
}

.article code { 
    font-family: "Menlo", monospace;
    font-size: 0.85em;
    color: var(--text-color);
    background: var(--input-background);
    margin: 0 0 1em 0;
    padding: 15px 25px 15px 15px;
    max-width: 100%;
    max-height: 500em;
    overflow: scroll;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: inline-block;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

code::-webkit-scrollbar {
    display: none; 
}

.article code.fixed {
    white-space: pre;
}

a {
    color: var(--link-color);
    text-decoration: none;
    word-wrap: break-word;
}

div.container>ul>li {
    position: relative;
    overflow: hidden;
    flex: auto;
}

div.container>ul>li>div.background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in-out;
}

div.container>ul>li>div.background>img {
    min-width: 100%;
    min-height: 100%;
}

div.container>ul>li>a:hover+div.background {
    transform: scale(1.02);
}

.list div.container>ul>li>a:hover, .list .container ul li a:active {
    background: hsla(120, 0%, 0%, 0.4);
}

body.article-page .container {
    width: 800px;
}

.article-page .container a {
    text-decoration: underline;
}

.article-page .container a:hover, .article-page .container a:active, div.navwrap div.nav ul li a:hover {
    color: var(--link-hover-color);
}

.article-page .container a:hover, .article-page .container a:active {
    text-decoration: underline;
}
.list .container ul {
    list-style: none;
    text-transform: capitalize;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.list .container ul li:nth-child(1n+0)  {
    background-color: var(--tile-color-1);
}

.list .container ul li:nth-child(2n+0)  {
    background-color: var(--tile-color-2);
}

.list .container ul li:nth-child(3n+0)  {
    background-color: var(--tile-color-3);
}

.list .container ul li {
    width: 400px;
    height: 400px;
    margin: 0 5px 10px 5px;
    display: inline-flex;
    color: #000000;
    font-size: 20px;
    line-height: 1.3;
    background-position: center;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
}

.list .container ul li > a {
    z-index: 1;
    width: 100%;
    padding: 20px;
    background: hsla(120, 0%, 0%, 0.5);
    color: #ffffff;
    letter-spacing: -0.02em;
}

.article-page div.masthead {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 400px;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.article-page div.masthead img {
    width: 100%;
}
.article-page div.envelope {
    background: var(--background);
    padding: 40px 0 0 0;
    margin: 200px 0 0 0;
}

.article-page .container .article ul li {
    line-height: 1.5;
    font-weight: normal;
}

.article-page .article ul {
    list-style-type: none;
    padding-left: 2em;
}
.article-page  .article ul>li:before {
    content: " \2014";
    position: absolute;
    margin-left: -1.5em;
}

h1, h2, h3, h4, h5 {
    color: var(--header-color);
    text-transform: uppercase;
}

h1:before {
    content: '#';
    color: var(--input-background);
}

h2:before {
    content: '##';
    color: var(--input-background);
}

h3:before {
    content: '###';
    color: var(--input-background);
}

h4:before {
    content: '####';
    color: var(--input-background);
}

h1 + h4 {
    margin: -30px 0 0 0;
    font-size: 0.75em;
    font-weight: normal;
}


h2 {
    margin: 30px 0 0 0;
}

h2 + p, h3 + p {
    margin-top: 0;
}

.article h3 {
    margin-bottom: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -.15px;
}
