@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Khula:300,400,400i,700');

/*mobile styles*/

@media only screen 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    body.list, body.article-page {
        font-size: 45px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    body div.navwrap {
        height: 105px;
    }
    body>div.navwrap>div.nav {
        padding-top: 15px;
        box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.2);
        box-sizing: border-box;
    }
    body div.navwrap div.nav ul li {
        margin: 0 20px 0 10px;
        font-size: 45px;
    }
    
    body .nav .search {
        font-size: 40px;
    }
    body .nav .search .search-box {
        width: 250px;
    }

    body.list>div.container {
        margin: 25px 0 0 0;
        width: 100%;
        max-width: 100vw;
    }

    body.list>div.container ul li {
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px 0;
        height: 55vh;
        font-size: inherit;
    }

    body.article-page>div.container {
        margin-top: 10vw;
        width: 80vw;
        max-width: 80vw;
    }

    .article-page .container h1 {
        margin: 0 auto;
        font-size: 1.5em;
    }
    .article-page .container h1+h3 {
        font-weight: lighter;
        font-size: 1em;
        margin: 10px 0;
    }
    .article-page .container h2 {
        font-size: 1.1em;
    }
    .article-page .container .contact form * {
        width: 100%;
    }
    .article-page .container .contact form input, .article-page .container .contact form textarea, .article-page .container .contact label {
        font-size: 45px;
    }
    .article-page .container .contact form .submit, .article-page .container .contact form .reset {
        font-size: 45px;
        padding: 30px;
    }
    .article-page .container .contact .error, .article-page .container .contact .success {
        width: 100%;
    }
}

/*normal styles*/

* {
    -webkit-font-smoothing: antialiased;
    -webit-text-size-adjust: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Khula', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #000000;
    background-color: #ffffff;
}

div.navwrap {
    width: 100%;
    top: 0;
    margin: 0;
    height: 40px;
}

div.navwrap div.nav {
    height: inherit;
    position: fixed;
    width: 100%;
    background: hsla(0, 100%, 100%, 0.95);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1);
    z-index: 3;
}

div.navwrap div.nav ul {
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    box-sizing: border-box;
}

div.navwrap div.nav ul li {
    margin: 0 10px;
    font-weight: 200;
}

.nav .search {
    position: absolute;
    right: 1vw;
    top: 12%;
    height: 75%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
    font-weight: lighter;
}

.nav .search .search-box {
    height: 100%;
    width: 200px;
    margin: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
    vertical-align: middle;
    font-size: 1em;
    padding-bottom: 1px;
    padding-left: 0.5em;
}

.nav .search .submit-button {
    height: 100%;
    border: none;
    color: white;
    background-color: #4F9D69;
    font-weight: 900;
    padding: 0 0.5em;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 1em;
    font-family: fontawesome;
}

div.container {
    max-width: 80vw;
    margin: 40px auto;
    margin-bottom: 100px;
}

body.list>div.container {
    max-width: calc(100vw - 10px);
    margin: 10px auto 0 auto;}

body.list>div.container>.search-title {
    text-align: center;
    line-height: 1.2em;
}

body.list>div.container>.clear-results {
    color: #4F9D69;
    margin-right: 0.5em;
    float: right;
}

div.article {
    width: 100%;
    margin-top: 40px;
}

div.container div.error {
    background: hsla(0, 80%, 90%, 1);
    color: red;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    width: 400px;
    max-width: 100%;
}

div.container div.success {
    background: hsla(120, 80%, 90%, 1);
    color: green;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    width: 400px;
    max-width: 100%;
}

.success h3 {
    color: green;
}

.error h3 {
    color: red;
}

.success *, .error * {
    margin: 0;
    padding: 0;
}

div.container form .field {
    max-width: 100%;
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 0.75em;
    box-sizing: border-box;
    resize: none;
    font-size: inherit;
}

input:focus, textarea:focus {
    outline: none;
}

div.container form button.submit {
    max-width: 100%;
    min-width: 25%;
    border-radius: 0;
    background: #4F9D69;
    color: white;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: inherit;
    box-shadow: none;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

div.container form .reset {
    background: none;
    border: none;
    color: #4F9D69;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.article img {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}

.article-page .article img + p.subtitle {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    line-height: 1.3;
    margin: 2px auto 40px auto;
    max-width: 90%;
}

.article p {
    line-height: 1.5;
    font-weight: 300;
}

.article blockquote {
    font-weight: 300;
    font-size: 103%;
    font-style: italic;
    border-left: 25px solid hsla(0, 0%, 83%, 0.5);
    padding-left: 25px;
    margin-bottom: 2em;
}

.article code { 
    font-family: "Menlo", monospace;
    font-size: 0.85em;
    color: #555;
    background: #eee;
    margin: 0 0 1em 0;
    padding: 10px 25px 15px 15px;
    max-width: 100%;
    max-height: 1000px;
    overflow: scroll;
    overflow-wrap: break-word;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: pre;
    display: inline-block;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

a {
    color: inherit;
    text-decoration: none;
    word-wrap: break-word;
}

div.container>ul>li {
    position: relative;
    overflow: hidden;
    flex: auto;
}

div.container>ul>li>div.background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in-out;
}

div.container>ul>li>div.background>img {
    min-width: 100%;
    min-height: 100%;
}

div.container>ul>li>a:hover+div.background {
    transform: scale(1.02);
}

.list div.container>ul>li>a:hover, .list .container ul li a:active {
    background: hsla(120, 0%, 0%, 0.85);
}

body.article-page .container {
    width: 800px;
}

.article-page .container a {
    text-decoration: underline;
}

.article-page .container a:hover, .article-page .container a:active, div.navwrap div.nav ul li a:hover {
    color: #4F9D69;
}

.article-page .container a:hover, .article-page .container a:active {
    text-decoration: underline;
}
.list .container ul {
    list-style: none;
    text-transform: capitalize;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.list .container ul li:nth-child(1n+0)  {
    background-color: #4F9D69;
}

.list .container ul li:nth-child(2n+0)  {
    background-color: #7A83AB;
}

.list .container ul li:nth-child(3n+0)  {
    background-color: #E59500;
}

.list .container ul li {
    width: 400px;
    height: 400px;
    margin: 0 5px 10px 5px;
    display: inline-flex;
    color: #000000;
    font-size: 20px;
    line-height: 1.3;
    background-position: center;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
}

.list .container ul li > a {
    z-index: 1;
    width: 100%;
    padding: 20px;
    background: hsla(120, 0%, 0%, 0.5);
    color: #ffffff;
    font-family: 'PT Sans';
    font-weight: 700;
    letter-spacing: -0.02em;
}

.article-page div.masthead {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 200px;
    max-height: 35vh;
    overflow: hidden;
    background-color: #4F9D69;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.article-page .container .article ul li {
    line-height: 1.5;
    font-weight: 300;
}

.article-page .article ul {
    list-style-type: none;
    padding-left: 2em;
}
.article-page  .article ul>li:before {
    content: " \2014";
    position: absolute;
    margin-left: -1.5em;
}

h1, h2, h3, h4, h5 {
    color: #555555;
}

h1 {
    font-size: 40px;
    font-family: 'PT Sans';
    text-transform: capitalize;
}

h1 + h3 {
    margin: -20px 0 0 0;
    font-size: 15px;
    font-weight: normal;
}


h2 {
    margin: 30px 0 0 0;
}

h2 + p {
    margin-top: 0;
}
